<!-- Create de init html tags -->
<%- include('templates/initLink') %>
<body id="body">
    <!-- Create a NavBar -->
    <%- include('templates/header') %>

    <!-- CREATE BOTON REDIRECT /MATRICULA -->
     <!-- include('templates/botonRedirectMat')  -->
    
    <!-- Create a carrousel -->
    <%- include('templates/Carusel') %>
    
    <!-- Create card Info -->
    <div class="container">
      <%- include('templates/cars-inf') %>
    </div>
    <!-- CREATE CALENDAR AS A CARUSEL -->
    <div>
      <%- include('templates/calendar') %>
    </div>

    <!-- CREATE INFO FOR WHATSAPP -->
    <%- include('templates/What') %>
    
    <!-- CREATE FOOTER -->
    <%- include('templates/footer') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/main.js"></script>
</body>
</html>